*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(56, 170, 255);
}

.logo{
    margin-left: 30px;
}

#logo-header{
    background-color: white;
}

.titolo{
    font-size: 40px;
    vertical-align: top;
}

main{
    background-color: rgb(56, 170, 255);
}

.container{
    width: 50%;
    margin: auto;
    background-color: white;
    margin-top: 30px;
    padding-top: 15px;
   border-radius: 5%;
}

#blue-button{
   background-color:rgb(56, 170, 255) ;
   border-color: rgb(56, 170, 255);
   width: 100px;
   height: 30px;
   border-radius: 10%;
   margin-left: 50px;
}

#white-button{
    width: 100px;
    height: 30px;
    border-radius: 10%;
}

hr{
  border-color: rgb(246, 248, 249);
  margin: 10px 0 25px 0;
}

section{
    margin-left: 50px;
    margin-top: 20px;
}

h2::before{
    content: '\2713';
    margin-right: 10px;
}

.task-check::before{
    content: '\2713';
    color: rgb(49, 186, 162) ;
    border-radius: 100%;
    border: 1px solid rgb(49, 186, 162) ;
    width: 50px;
    height: 50px;
}

.task-check{
    margin-top: 10px;
}

.tag{
    display: inline-block;
  width: 110px;
  color: white;
}

#editorial{
    background-color: rgb(56, 170, 255);
    margin-left: 10px;
    border-radius: 30%;
    width: 90px;
    height: 20px;
    text-align: center;
}

#Q1-goals{
    background-color: rgb(170,93,230);
    margin-left: 10px;
    border-radius: 30%;
    width: 90px;
    height: 20px;
    text-align: center;
}